.posts {
  padding-top: 100px;
  padding-bottom: 101px;
  @media (max-width: 992px) and (min-width: 768px + 0.1) {
    padding-top: 68px;
    padding-bottom: 80px;
  }
  @media (max-width: 768px) and (min-width: 576px + 0.1) {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  @media (max-width: 576px) {
    padding-top: 10.4vw;
    padding-bottom: 10.4vw;
  }

  &__container {
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      max-width: 764px;
    }
    @media (max-width: 576px) {
      padding-right: 3.8vw;
      padding-left: 3.8vw;
    }
    h2 {
      letter-spacing: 0.1em;
      margin-top: 2px;
      margin-bottom: 56px;
      @media (max-width: 992px) and (min-width: 768px + 0.1) {
        font-size: 2rem;
        margin-bottom: 56px;
      }
      @media (max-width: 768px) and (min-width: 576px + 0.1) {
        margin-bottom: 30px;
      }
      @media (max-width: 576px) {
        text-align: center;
        margin-top: 1px;
        margin-bottom: 5.7vw;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-areas: "p1 p1 p2 p3"
                         "p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      grid-template-areas: "p1 p1 p2"
                           "p3 p4 p4"
                           "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      grid-template-areas: "p1 p2 "
                           "p3 p4"
                           "p5 p6";
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 19px;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-template-areas:
          "p1"
          "p2"
          "p3"
          "p4"
          "p5"
          "p6";
  
    }
  }

  &-item {
    transition: background-color 0.5s;
    background-color: $color-gray2;
    min-height: 550px;
    &:hover {
      background-color: $color-gray3;
      .posts-item__img img {
        transform: scale(1.1);
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      .text-none {
        display: none;
      }
    }
  }

  &-item__link  {
    display: grid;
    grid-template-rows: 300px 1fr;
    height: 100%;
    overflow: hidden;
    color: $color-gray;
  }

  &-item__img {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    img {
      transition: transform 0.5s;
      width: 100%;
      object-fit: fill;
    }
  }

  &-item__text {
    display: grid;
    grid-template-rows: 66px 1fr;
    padding: 20px 20px 20px 20px;
    align-content: center;
  }

  &-item__text h3 {
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 20px;
    text-align: center;
    font: {
      weight: 700;
      family: "Roboto Slab";
    }
  }

  &-item__text p {
    text-align: center;
    line-height: 20px;
    font: {
      weight: 400;
      family: $font-main;
    }
  }

  &-item:nth-of-type(1) {
    grid-area: p1;
    @media (min-width: 992px + 0.1) {
      h3 {
        padding-top: 51px;
      }
      p {
        padding: 28px 7px 0px 7px;
      }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 45px;
      }
      p {
        padding: 24px 7px 0px 7px;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      h3 {
        padding-top: 51px;
      }
      p {
        padding: 28px 7px 0px 7px;
      }
      img {
        object-fit: cover;
        object-position: 50% 0px;
      }
    }
    @media (max-width: 576px) {
      h3 {
        padding-top: 51px;
      }
      p {
        padding: 28px 7px 0px 7px;
      }
    }
  }

  &-item:nth-of-type(2) {
    grid-area: p2;
    @media (min-width: 992px + 0.1) {
    h3 {
      padding-top: 27px;
    }
    p {
      padding-right: 4px;
    }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 32px;
      }
      p {
        padding: 10px 2px 0 0;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      h3 {
        padding-top: 39px;
      }
      p {
        padding: 10px 24px 0 20px;
      }
    }
    @media (max-width: 576px) {
      h3 {
        padding-top: 6.6vw;
      }
      p {
        max-width: 49vw;
        padding-top: 1.8vw;
        justify-self: center;
      }
    }
  }

  &-item:nth-of-type(3) {
    grid-area: p3;
    @media (min-width: 992px + 0.1) {
      h3 {
        padding-top: 27px;
      }
      p {
        padding-top: 20px;
        padding-right: 5px;
      }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 21px;
      }
      p {
        padding: 21px 10px 0 7px;
        letter-spacing: normal;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      p {
        padding: 21px 35px 0 31px;
        letter-spacing: 0.001em;
      }
    }
    @media (min-width: 576px + 0.1) {
      .posts-item__text {
        padding: 20px 12px 0 12px;
      }
      h3 {
        padding-top: 27px;
      }
      p {
        padding-top: 20px;
        padding-right: 5px;
      }
    }
    @media (max-width: 576px) {
      h3 {
        padding-top: 27px;
      }
      p {
        max-width: 47vw;
        padding-top: 3.8vw;
        justify-self: center;
        letter-spacing: 0.001em;
      }
    }
  }

  &-item:nth-of-type(4) {
    grid-area: p4;
    @media (min-width: 992px + 0.1) {
      h3 {
        padding-top: 27px;
      }
      p {
        padding-right: 3px;
      }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 52px;
      }
      p {
        padding: 30px 7px 0px 7px;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      h3 {
        padding-top: 58px;
      }
       p {
        padding: 39px 20px 20px 20px;
       }
    }
    @media (max-width: 576px) {
      .text-none2 {
        display: none;
      }
      h3 {
        padding-top: 10.1vw;
      }
      p {
        padding-top: 6.9vw;
      }
      .word-break {
        word-spacing: 57vw;
      }
    }
  }

  &-item:nth-of-type(5) {
    grid-area: p5;
    .posts-item__text {
      padding: 20px 12px 0 12px;
    }
    @media (min-width: 992px + 0.1) {
      h3 {
        padding-top: 27px;
      }
      p {
        padding-top: 21px;
        padding-right: 4px;
      }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 58px;        
      }
      p {
        padding: 29px 9px 0 7px;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      h3 {
        padding-top: 49px;
      }
       p {
        padding: 29px 22px 0 18px;
       }
    }
    @media (max-width: 576px) {
      h3 {
        padding-top: 10.1vw;
      }
      .text-none2 {
        display: none;
      }
      p {
        padding-top: 6.6vw;
      }
    }
  }

  &-item:nth-of-type(6) {
    grid-area: p6;
    @media (min-width: 992px + 0.1) {
      h3 {
        padding-top: 64px;
      }
      p {
        padding: 42px 16px 0 14px;
        letter-spacing: 0.0009em;
      }
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      h3 {
        padding-top: 29px;
      }
      p {
        padding: 13px 7px 0px 3px;
      }
      .text-none {
        display: none;
      }
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
      h3 {
        padding-top: 35px;
      }
       p {
        padding: 12px 23px 0 20px;
       }
    }
    @media (max-width: 576px) {
      h3 {
        padding-top: 6.1vw;
      }
      p {
        max-width: 47vw;
        padding-top: 2.1vw;
        justify-self: center;
        letter-spacing: 0.001em;
      }
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    .btn-accent[type=button] {
      color: $color-light;
      padding-left: 12px;
      @media (max-width: 992px) and (min-width: 768px + 0.1) {
        padding: 0 0 0 4px;
        height: 60px;
      }
      @media (min-width: 576px + 0.1) {
        margin-right: 1px;
        padding-top: 17px;
      }
      @media (max-width: 576px) {
        padding-left: 0.7vw;
        letter-spacing: 0.17em;
        margin-right: 0;
      }
    }
  }
}