.form {
  background-color: $color-primary;
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 992px) and (min-width: 768px + 0.1) {
    padding-top: 19px;
    padding-bottom: 22px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      padding: 0px 20px;
    }
  }
  &__item {
    display: block;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.099em;
    line-height: 39px;
    color: $color-light;
    border: 2px solid transparent;
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.05);
    transition: background-color 0.5s, border-color 0.5s;
    font: {
      size: 1.125rem;
      weight: 400;
      family: $font-main;
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
      padding-left: 19px;
      padding-bottom: 10px;
      font-size: 1rem;
      line-height: 2.3;
      letter-spacing: 2px;
      &:nth-child(3) {
        padding-right: 16px;
      }
    }
    
    &:hover, &:focus {
      border-color: rgba($color-light, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba($color-light, 0.15);
    }

    &::-webkit-input-placeholder { color: rgba($color-light, 0.23); }
    &::-moz-placeholder {color: rgba($color-light, 0.23);}  // Firefox 19+
    &:-moz-placeholder {color: rgba($color-light, 0.23);}   // Firefox 18-
    &:-ms-input-placeholder {color: rgba($color-light, 0.23);}

    &[type=submit] {
      background-color: rgba($color-light, 0.1);
    }

    &[type=submit]:hover, &[type=submit]:focus {
      cursor: pointer;
      border-color: $color-light;
      background-color: $color-accent;
    }
  }
}