// - - -  GENERAL STYLES - - - 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  font-family: $font-main;
  font-size: $font-size-16; // обычно берут 16px за стандарт
  color: $color-gray;
}

h1 {
  letter-spacing: 0.078em;
  line-height: 1.2;

  font: {
    family: $font-RobotoSlab;
    weight: 300;
  }
}
h2 {
  @media (min-width: 992px + 0.1) {
    font-size: 40px;
    line-height: 48px;
  }
  color: $color-primary;
  font-weight: 700;
  font-family: $font-RobotoSlab;
}
a {
  text-decoration: none;
  color: $color-light;
}
input[placeholder] {
  text-overflow:ellipsis;
}
input:focus {
  outline: none;
}
.btn {
  border: 2px solid $color-light;
  background-color: rgba(255, 255, 255, 0.1);
  @media (min-width: 992px + 0.1) {
    min-width: 250px;
  }
  @media (max-width: 992px) and (min-width: 768px + 0.1) {
    min-width: 200px;
    height: 50px;
    padding: 14px 10px;
  }
  @media (max-width: 768px) {
    min-width: 170px;
    height: 40px;
    padding: 9px 10px;
  }

}
.about__img {
  max-width: 100%;
  height: auto;
}

.btn,
.btn-accent {
  display: block;
  // висоту бажано ставити, бо line-height може збити все
  font-weight: 400;
  text-align: center;
  transition: background-color 0.5s;
  height: 60px;
  @media (min-width: 992px + 0.1) {
    padding: 18px 10px;
    font-size: 1.125rem;
  }
  @media (min-width: 768px + 0.1) {
    letter-spacing: 0.1em;
    font-size: 1.125rem;
  }
  @media (max-width: 768px) and (min-width: 576px + 0.1) {
    letter-spacing: 0.1em;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn-accent {
  min-width: 350px;
  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);

  @media (max-width: 992px) and (min-width: 768px + 0.1) {
    padding: 24px 10px 10px 10px;
    height: 66px;
  }
  @media (max-width: 768px) and (min-width: 576px + 0.1) {
    padding: 15px 6px 18px 10px;
    margin-left: 0;
    letter-spacing: 0.17em;
  }
  @media (max-width: 576px) {
      min-width: auto;
      width: 100%;
  }
}