%container {
  max-width: 1338px; // 1340px - 40px для отступов контента
  margin: auto;
  padding-left: $gap-20;
  padding-right: $gap-20;
}
// %container - шаблонный селектор, в файле HTML нет класса с таким названием.
// Но как только мы примением этот класс, где нам нужно в селекторе SCSS, он сработает в том месте где мы его разместим.
// При этом в самом HTML-файле этого класса как-бы и нет.