
$color-primary: #2d3651; // primary - основной
$color-accent: #d66926;  // accent - акцент
$color-highlight: #d53d27; // highlight - выделение
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-light: #ffffff;
