/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.header-menu__container, .header-content__container {
  max-width: 1338px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #637588;
}

h1 {
  letter-spacing: 0.078em;
  line-height: 1.2;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

h2 {
  color: #2d3651;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input:focus {
  outline: none;
}

.btn {
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.about__img {
  max-width: 100%;
  height: auto;
}

.btn,
.btn-accent {
  display: block;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  height: 60px;
}

.btn:hover, .btn:focus,
.btn-accent:hover,
.btn-accent:focus {
  background-color: #d66926;
}

.btn-accent {
  min-width: 350px;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
}

.header {
  min-height: 118.4vh;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
  color: #ffffff;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-overlay {
  background-color: #2d3651;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.header-menu {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.23em;
  padding: 20px 0px;
}

.header-logo__link {
  display: block;
}

.header-logo__accent {
  display: inline-block;
  border: 3px solid #d53d27;
  padding: 14px 0px 13px 4px;
  margin-right: 0.17em;
}

.header-navbar {
  letter-spacing: 0.1em;
}

.header-navbar__btn {
  display: none;
}

.header-navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  font-size: 1.125rem;
}

.header-navbar__item:nth-child(1) {
  padding: 0 3px 0 0;
}

.header-navbar__item:nth-child(2) {
  padding: 0 39px 0 38px;
}

.header-navbar__item:nth-child(3) {
  margin-right: -2px;
}

.header-navbar__link {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header-navbar__link:hover {
  color: #d66926;
}

.header-content {
  position: relative;
  top: 0px;
}

.header-content__title {
  margin: 0 0 54px 0;
  text-align: center;
}

.header-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* - - - -  SKILLS-BLOCK  - - - - - */

.skills__container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
}

.skills__container .skills-item__link {
  color: #ffffff;
}

.skills__button {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-item {
  position: relative;
  min-height: calc(39vh - 6px);
  overflow: hidden;
}

.skills-item:nth-of-type(1) .skills-item__image {
  background-image: url(../img/img-html.png);
}

.skills-item:nth-of-type(2) .skills-item__image {
  background-image: url(../img/img-css.png);
}

.skills-item:nth-of-type(3) .skills-item__image {
  background-image: url(../img/img-markup.png);
}

.skills-item:nth-of-type(4) .skills-item__image {
  background-image: url(../img/img-webdesign.png);
}

.skills-item:nth-of-type(5) .skills-item__image {
  background-image: url(../img/img-qa.png);
}

.skills-item:nth-of-type(6) .skills-item__image {
  background-image: url(../img/img-codding.png);
}

.skills-item:nth-of-type(7) .skills-item__image {
  background-image: url(../img/img-adaptability.png);
}

.skills-item:nth-of-type(8) .skills-item__image {
  background-image: url(../img/img-php.png);
}

.skills-item:nth-of-type(9) .skills-item__image {
  background-image: url(../img/img-seo.png);
}

.skills-item__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #2d3651;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.skills-item__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills-item__title {
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skills-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.13em;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.skills-item:hover .skills-item__overlay {
  opacity: 0.95;
}

.skills-item:hover .skills-item__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills-item:hover .skills-item__link {
  color: #d66926;
}

.skills-item:nth-of-type(1) {
  grid-area: a1;
}

.skills-item:nth-of-type(2) {
  grid-area: a2;
}

.skills-item:nth-of-type(3) {
  grid-area: a3;
}

.skills-item:nth-of-type(4) {
  grid-area: a4;
}

.skills-item:nth-of-type(5) {
  grid-area: a5;
}

.skills-item:nth-of-type(6) {
  grid-area: a6;
}

.skills-item:nth-of-type(7) {
  grid-area: a7;
}

.skills-item:nth-of-type(8) {
  grid-area: a8;
}

.skills-item:nth-of-type(9) {
  grid-area: a9;
}

.about {
  background-color: #e5e5e5;
}

.about__container {
  margin: 0 auto;
  max-width: 1340px;
  display: grid;
  gap: 95px;
  grid-template-columns: 1fr 271px;
  padding: 0px 19px 0px 20px;
}

.about__text p {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.about__text p:first-of-type {
  position: relative;
}

.about__text p:first-of-type::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 200px;
  position: absolute;
  right: -53px;
  top: -4px;
  background-color: rgba(112, 112, 112, 0.1);
}

.about__image {
  max-width: 100%;
  height: auto;
}

.about__image img {
  position: relative;
  right: 1px;
}

.form {
  background-color: #2d3651;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1338px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__item {
  display: block;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.099em;
  line-height: 39px;
  color: #ffffff;
  border: 2px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.form__item:hover, .form__item:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

.form__item::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.23);
}

.form__item::-moz-placeholder {
  color: rgba(255, 255, 255, 0.23);
}

.form__item:-moz-placeholder {
  color: rgba(255, 255, 255, 0.23);
}

.form__item:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.23);
}

.form__item[type=submit] {
  background-color: rgba(255, 255, 255, 0.1);
}

.form__item[type=submit]:hover, .form__item[type=submit]:focus {
  cursor: pointer;
  border-color: #ffffff;
  background-color: #d66926;
}

.posts {
  padding-top: 100px;
  padding-bottom: 101px;
}

.posts__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.posts__container h2 {
  letter-spacing: 0.1em;
  margin-top: 2px;
  margin-bottom: 56px;
}

.posts__block {
  display: grid;
  grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 20px;
}

.posts-item {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #eeeeee;
  min-height: 550px;
}

.posts-item:hover {
  background-color: #d8d8d8;
}

.posts-item:hover .posts-item__img img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.posts-item__link {
  display: grid;
  grid-template-rows: 300px 1fr;
  height: 100%;
  overflow: hidden;
  color: #637588;
}

.posts-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.posts-item__img img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.posts-item__text {
  display: grid;
  grid-template-rows: 66px 1fr;
  padding: 20px 20px 20px 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.posts-item__text h3 {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto Slab";
}

.posts-item__text p {
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.posts-item:nth-of-type(1) {
  grid-area: p1;
}

.posts-item:nth-of-type(2) {
  grid-area: p2;
}

.posts-item:nth-of-type(3) {
  grid-area: p3;
}

.posts-item:nth-of-type(4) {
  grid-area: p4;
}

.posts-item:nth-of-type(5) {
  grid-area: p5;
}

.posts-item:nth-of-type(5) .posts-item__text {
  padding: 20px 12px 0 12px;
}

.posts-item:nth-of-type(6) {
  grid-area: p6;
}

.posts__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts__btn-container .btn-accent[type=button] {
  color: #ffffff;
  padding-left: 12px;
}

.footer {
  text-align: center;
  background-color: #2d3651;
  padding: 0 20px 0;
}

.footer__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 18px;
  position: relative;
}

.footer__social::after {
  content: "";
  display: block;
  width: 76px;
  height: 2px;
  position: absolute;
  left: calc(50% - 38px);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social a {
  display: block;
  padding: 10px 0px 10px 0px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__social a:hover {
  color: #d66926;
}

.footer__social .fab {
  font-size: 36px;
}

.footer__epigraph {
  display: grid;
  grid-template-rows: 1fr 0 1fr;
  align-self: start;
  height: 60px;
}

.footer__epigraph span:nth-of-type(1) {
  padding-top: 20px;
  margin-left: 6px;
  letter-spacing: 0.3em;
  font-weight: 100;
}

.footer__epigraph span:nth-of-type(2) {
  position: relative;
  top: 2px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #e5e5e5;
}

@media (min-width: 576.1px) {
  .posts-item:nth-of-type(3) .posts-item__text {
    padding: 20px 12px 0 12px;
  }
  .posts-item:nth-of-type(3) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(3) p {
    padding-top: 20px;
    padding-right: 5px;
  }
  .posts__btn-container .btn-accent[type=button] {
    margin-right: 1px;
    padding-top: 17px;
  }
}

@media (min-width: 768.1px) {
  .btn,
  .btn-accent {
    letter-spacing: 0.1em;
    font-size: 1.125rem;
  }
  .header-content__buttons .btn:first-of-type {
    margin-right: 20px;
  }
}

@media (min-width: 992.1px) {
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .btn {
    min-width: 250px;
  }
  .btn,
  .btn-accent {
    padding: 18px 10px;
    font-size: 1.125rem;
  }
  .header-content__title {
    font-size: 3.75rem;
  }
  .skills {
    padding: 10px 8px 40px 6px;
  }
  .about {
    padding-top: 90px;
    padding-bottom: 63px;
  }
  .about__text h2 {
    margin: 10px 0 49px;
    letter-spacing: 0.093em;
  }
  .about__text p {
    margin-top: 16px;
  }
  .about__image {
    padding-top: 7px;
  }
  .posts-item:nth-of-type(1) h3 {
    padding-top: 51px;
  }
  .posts-item:nth-of-type(1) p {
    padding: 28px 7px 0px 7px;
  }
  .posts-item:nth-of-type(2) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(2) p {
    padding-right: 4px;
  }
  .posts-item:nth-of-type(3) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(3) p {
    padding-top: 20px;
    padding-right: 5px;
  }
  .posts-item:nth-of-type(4) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(4) p {
    padding-right: 3px;
  }
  .posts-item:nth-of-type(5) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(5) p {
    padding-top: 21px;
    padding-right: 4px;
  }
  .posts-item:nth-of-type(6) h3 {
    padding-top: 64px;
  }
  .posts-item:nth-of-type(6) p {
    padding: 42px 16px 0 14px;
    letter-spacing: 0.0009em;
  }
  .footer__container {
    min-height: 250px;
  }
  .footer__social {
    padding-top: 5px;
  }
  .footer__social::after {
    top: 80px;
  }
}

@media (max-width: 992px) {
  .header-logo__accent {
    margin-right: 0.375rem;
  }
  .skills-item {
    min-height: calc(43vh - 1px);
  }
  .footer__container {
    min-height: 251px;
  }
}

@media (max-width: 992px) and (min-width: 768.1px) {
  .btn {
    min-width: 200px;
    height: 50px;
    padding: 14px 10px;
  }
  .btn-accent {
    padding: 24px 10px 10px 10px;
    height: 66px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 93.9vh;
  }
  .header-content__title {
    margin: 0 0 43px;
    font-size: 2.5rem;
  }
  .header-content__buttons .btn {
    font-size: 1rem;
  }
  .skills {
    padding: 10px 10px 40px 10px;
  }
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
  .skills__button {
    padding-top: 19px;
  }
  .skills-item {
    max-width: 640px;
  }
  .skills-item:nth-of-type(2), .skills-item:nth-of-type(3) {
    min-width: 322px;
  }
  .skills-item:nth-of-type(7) {
    max-width: 320px;
    letter-spacing: 0.06em;
  }
  .about {
    padding-top: 64px;
    padding-bottom: 37px;
  }
  .about__container {
    gap: 50px;
  }
  .about__text h2 {
    font-size: 32px;
    line-height: 2.5rem;
    letter-spacing: 3px;
    margin: 15px 0px 29px 0px;
  }
  .about__text p {
    line-height: 24px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .about__text p:last-of-type {
    display: none;
  }
  .about__text p:first-of-type::after {
    right: -24px;
  }
  .about__image img {
    top: 18px;
    right: -14px;
    width: 94%;
  }
  .form {
    padding-top: 19px;
    padding-bottom: 22px;
  }
  .form__item {
    padding-left: 19px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 2.3;
    letter-spacing: 2px;
  }
  .form__item:nth-child(3) {
    padding-right: 16px;
  }
  .posts {
    padding-top: 68px;
    padding-bottom: 80px;
  }
  .posts__container h2 {
    font-size: 2rem;
    margin-bottom: 56px;
  }
  .posts__block {
    grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
    grid-template-columns: repeat(3, 1fr);
  }
  .posts-item:nth-of-type(1) h3 {
    padding-top: 45px;
  }
  .posts-item:nth-of-type(1) p {
    padding: 24px 7px 0px 7px;
  }
  .posts-item:nth-of-type(2) h3 {
    padding-top: 32px;
  }
  .posts-item:nth-of-type(2) p {
    padding: 10px 2px 0 0;
  }
  .posts-item:nth-of-type(3) h3 {
    padding-top: 21px;
  }
  .posts-item:nth-of-type(3) p {
    padding: 21px 10px 0 7px;
    letter-spacing: normal;
  }
  .posts-item:nth-of-type(4) h3 {
    padding-top: 52px;
  }
  .posts-item:nth-of-type(4) p {
    padding: 30px 7px 0px 7px;
  }
  .posts-item:nth-of-type(5) h3 {
    padding-top: 58px;
  }
  .posts-item:nth-of-type(5) p {
    padding: 29px 9px 0 7px;
  }
  .posts-item:nth-of-type(6) h3 {
    padding-top: 29px;
  }
  .posts-item:nth-of-type(6) p {
    padding: 13px 7px 0px 3px;
  }
  .posts-item:nth-of-type(6) .text-none {
    display: none;
  }
  .posts__btn-container .btn-accent[type=button] {
    padding: 0 0 0 4px;
    height: 60px;
  }
  .footer__social {
    padding-top: 9px;
  }
  .footer__social::after {
    top: 82px;
    background-color: #ffffff;
  }
  .footer__epigraph span:nth-of-type(1) {
    letter-spacing: 1px;
    line-height: 20px;
    color: #637588;
    font-weight: 700;
    margin-left: 1px;
    padding-top: 19px;
  }
}

@media (max-width: 768px) {
  .btn {
    min-width: 170px;
    height: 40px;
    padding: 9px 10px;
  }
  .header-menu {
    background-color: rgba(68, 89, 110, 0.25);
    -webkit-box-shadow: -3px 3px 20px -10px black;
            box-shadow: -3px 3px 20px -10px black;
  }
  .header-logo {
    padding: 20px 0px 12px 0px;
  }
  .header-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-navbar__btn {
    display: block;
    width: 24px;
    height: 18px;
    top: 2px;
    right: 2px;
    position: relative;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .header-navbar__btn-row {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .header-navbar__btn-row:nth-child(even) {
    left: 50%;
    border-radius: 0 3px 3px 0;
  }
  .header-navbar__btn-row:nth-child(odd) {
    left: 0px;
    border-radius: 3px 0 0 3px;
  }
  .header-navbar__btn-row:nth-child(1), .header-navbar__btn-row:nth-child(2) {
    top: 0px;
  }
  .header-navbar__btn-row:nth-child(3), .header-navbar__btn-row:nth-child(4) {
    top: 8px;
  }
  .header-navbar__btn-row:nth-child(5), .header-navbar__btn-row:nth-child(6) {
    top: 16px;
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(1), .header-navbar__btn--active .header-navbar__btn-row:nth-child(6) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(2), .header-navbar__btn--active .header-navbar__btn-row:nth-child(5) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(1), .header-navbar__btn--active .header-navbar__btn-row:nth-child(2) {
    left: -2px;
    top: 7px;
    width: 100%;
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  .header-navbar__btn--active .header-navbar__btn-row:nth-child(5), .header-navbar__btn--active .header-navbar__btn-row:nth-child(6) {
    display: none;
  }
  .header-navbar__list {
    opacity: 0;
    display: block;
    z-index: -1;
    position: absolute;
    top: 100%;
    -webkit-box-shadow: -3px 3px 20px -10px black;
            box-shadow: -3px 3px 20px -10px black;
    text-align: right;
    -webkit-transition: 0.45s ease-in-out;
    -o-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
  }
  .header-navbar__list--active {
    opacity: 1;
    z-index: 10;
  }
  .header-navbar__item:nth-child(1) {
    padding: 0;
    border: 1px solid #ffffff;
    background-color: rgba(68, 89, 110, 0.9);
  }
  .header-navbar__item:nth-child(2) {
    padding: 0;
    margin: 4px 0;
    border: 1px solid #ffffff;
    background-color: rgba(68, 89, 110, 0.9);
  }
  .header-navbar__item:nth-child(3) {
    margin-right: 0;
    border: 1px solid #ffffff;
    background-color: rgba(68, 89, 110, 0.9);
  }
  .header-navbar__link {
    padding: 10px 15px;
    display: block;
    text-align: right;
  }
  .skills__button .btn-accent {
    font-size: 1.125rem;
    letter-spacing: 0.11em;
    padding: 18px 0 0 2px;
  }
}

@media (max-width: 768px) and (min-width: 576.1px) {
  .btn,
  .btn-accent {
    letter-spacing: 0.1em;
  }
  .btn-accent {
    padding: 15px 6px 18px 10px;
    margin-left: 0;
    letter-spacing: 0.17em;
  }
  .header {
    min-height: 68.6vh;
  }
  .header-logo {
    padding: 20px 0 12px;
  }
  .header-content__title {
    margin: 0 0 33px;
    font-size: 1.875rem;
    position: relative;
    top: 2px;
  }
  .header-content__buttons .btn:first-of-type {
    margin-right: 2.7vw;
  }
  .skills {
    padding: 10px 10px 41px 10px;
  }
  .skills__container {
    min-height: 2160px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto minmax(360px, auto) auto;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
  }
  .skills__button {
    padding-top: 20px;
  }
  .skills__button .btn-accent {
    padding: 17px 6px 18px 7px;
    font-size: 1.1875rem;
    margin-left: 9px;
    letter-spacing: 0.07em;
  }
  .skills-item:nth-of-type(4) .skills-item__link {
    padding-bottom: 42px;
  }
  .skills-item__link {
    letter-spacing: 0.09em;
  }
  .about {
    padding-top: 26px;
    padding-bottom: 23px;
    line-height: 1.3333333;
  }
  .about__container {
    gap: 72px;
    grid-template-columns: 1fr 241px;
  }
  .about__text h2 {
    letter-spacing: 0.1em;
    padding-top: 32px;
  }
  .about__text p {
    font-size: 16px;
  }
  .about__text p:nth-child(4), .about__text p:nth-child(5) {
    display: none;
  }
  .about__text p:nth-child(2) {
    padding-top: 25px;
  }
  .about__text p:nth-child(3) {
    padding-top: 15px;
  }
  .about__text p:first-of-type::after {
    right: -20px;
    top: 30px;
  }
  .about__image img {
    top: 10px;
    right: -2px;
    width: 98%;
  }
  .form {
    padding: 20px 0 22px 0;
  }
  .form__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "f1 f1" "f2 f3";
    max-width: 764px;
  }
  .form__item {
    padding-left: 20px;
  }
  .form__item:nth-child(1) {
    grid-area: f1;
  }
  .form__item:nth-child(2) {
    grid-area: f2;
  }
  .form__item:nth-child(3) {
    grid-area: f3;
    padding-left: 30px;
  }
  .posts {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  .posts__container {
    max-width: 764px;
  }
  .posts__container h2 {
    margin-bottom: 30px;
  }
  .posts__block {
    grid-template-areas: "p1 p2 " "p3 p4" "p5 p6";
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 19px;
  }
  .posts-item .text-none {
    display: none;
  }
  .posts-item:nth-of-type(1) h3 {
    padding-top: 51px;
  }
  .posts-item:nth-of-type(1) p {
    padding: 28px 7px 0px 7px;
  }
  .posts-item:nth-of-type(1) img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 0px;
       object-position: 50% 0px;
  }
  .posts-item:nth-of-type(2) h3 {
    padding-top: 39px;
  }
  .posts-item:nth-of-type(2) p {
    padding: 10px 24px 0 20px;
  }
  .posts-item:nth-of-type(3) p {
    padding: 21px 35px 0 31px;
    letter-spacing: 0.001em;
  }
  .posts-item:nth-of-type(4) h3 {
    padding-top: 58px;
  }
  .posts-item:nth-of-type(4) p {
    padding: 39px 20px 20px 20px;
  }
  .posts-item:nth-of-type(5) h3 {
    padding-top: 49px;
  }
  .posts-item:nth-of-type(5) p {
    padding: 29px 22px 0 18px;
  }
  .posts-item:nth-of-type(6) h3 {
    padding-top: 35px;
  }
  .posts-item:nth-of-type(6) p {
    padding: 12px 23px 0 20px;
  }
  .footer__social {
    padding-top: 26px;
  }
  .footer__social::after {
    top: 101px;
  }
  .footer__epigraph span:nth-of-type(1) {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .btn-accent {
    min-width: auto;
    width: 100%;
  }
  .header {
    min-height: 121.6vh;
  }
  .header-content {
    top: 4.8vw;
  }
  .header-content__container {
    display: grid;
    grid-template-rows: minmax(18vw, 1fr) 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-content__title {
    position: relative;
    bottom: 0.3vw;
    right: 0.3vw;
    margin: 0 auto;
    max-width: 57vw;
    letter-spacing: 0.038em;
  }
  .header-content__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1.7vw;
  }
  .header-content__buttons .btn:first-of-type {
    margin-right: 3.5vw;
  }
  .header-content__buttons .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 29.5vw;
    height: 40px;
    padding: 0;
    letter-spacing: 0.1em;
  }
  .skills {
    padding: 3.5vw 3.8vw;
  }
  .skills__container {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
  }
  .skills-item:nth-of-type(8) .skills-item__link {
    position: relative;
    right: 10px;
    top: 2px;
  }
  .skills-item__link {
    letter-spacing: 0.08em;
  }
  .about {
    padding-top: 10.6vw;
    padding-bottom: 11vw;
  }
  .about__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3.5vw;
  }
  .about__text {
    text-align: center;
    max-width: 92.4vw;
  }
  .about__text .text-none {
    display: none;
  }
  .about__text h2 {
    letter-spacing: 0.1em;
    padding-bottom: 4.3vw;
    margin-left: 1vw;
  }
  .about__text h2 .about-text__phrase-1 {
    display: inline-block;
    padding-bottom: 1vw;
  }
  .about__text p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 2.74vw;
  }
  .about__text p:last-child {
    display: none;
  }
  .about__text p:first-of-type::after {
    display: none;
  }
  .about__image {
    margin-left: 4.4vw;
  }
  .form {
    padding-top: 3.5vw;
    padding-bottom: 3.8vw;
  }
  .form__container {
    padding: 0 3.6vw;
    grid-template-columns: 1fr;
  }
  .form__item:not(.form__item:last-child) {
    padding-left: 19px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
  .posts {
    padding-top: 10.4vw;
    padding-bottom: 10.4vw;
  }
  .posts__container {
    padding-right: 3.8vw;
    padding-left: 3.8vw;
  }
  .posts__container h2 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5.7vw;
  }
  .posts__block {
    grid-template-columns: 1fr;
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
  }
  .posts-item:nth-of-type(1) h3 {
    padding-top: 51px;
  }
  .posts-item:nth-of-type(1) p {
    padding: 28px 7px 0px 7px;
  }
  .posts-item:nth-of-type(2) h3 {
    padding-top: 6.6vw;
  }
  .posts-item:nth-of-type(2) p {
    max-width: 49vw;
    padding-top: 1.8vw;
    justify-self: center;
  }
  .posts-item:nth-of-type(3) h3 {
    padding-top: 27px;
  }
  .posts-item:nth-of-type(3) p {
    max-width: 47vw;
    padding-top: 3.8vw;
    justify-self: center;
    letter-spacing: 0.001em;
  }
  .posts-item:nth-of-type(4) .text-none2 {
    display: none;
  }
  .posts-item:nth-of-type(4) h3 {
    padding-top: 10.1vw;
  }
  .posts-item:nth-of-type(4) p {
    padding-top: 6.9vw;
  }
  .posts-item:nth-of-type(4) .word-break {
    word-spacing: 57vw;
  }
  .posts-item:nth-of-type(5) h3 {
    padding-top: 10.1vw;
  }
  .posts-item:nth-of-type(5) .text-none2 {
    display: none;
  }
  .posts-item:nth-of-type(5) p {
    padding-top: 6.6vw;
  }
  .posts-item:nth-of-type(6) h3 {
    padding-top: 6.1vw;
  }
  .posts-item:nth-of-type(6) p {
    max-width: 47vw;
    padding-top: 2.1vw;
    justify-self: center;
    letter-spacing: 0.001em;
  }
  .posts__btn-container .btn-accent[type=button] {
    padding-left: 0.7vw;
    letter-spacing: 0.17em;
    margin-right: 0;
  }
  .footer__social {
    padding-top: 4.7vw;
  }
  .footer__social::after {
    top: 102px;
  }
  .footer__epigraph {
    -ms-flex-item-align: start;
        align-self: start;
    padding-top: 1.9vw;
  }
}
