.header-content {
  position: relative;
  // таким способом поднимаем контент над overlay
  top: 0px;
  @media (max-width: 576px) {
    top: 4.8vw;
  }

  &__container {
    @extend %container;
    @media (max-width: 576px) {
      display: grid;
      grid-template-rows: minmax(18vw, 1fr) 1fr;
      justify-content: center;
    }
  }

  &__title {
    margin: 0 0 54px 0;
    text-align: center;
    
    @media(min-width: 992px + 0.1) {
      font-size: 3.75rem;
    }
    @media (max-width: 992px) and (min-width: 768px + 0.1) {
        margin: 0 0 43px;
        // font-size: 40px; // 2.5rem = 40px : 16px
        font-size: 2.5rem;
    }
    @media (max-width: 768px) and (min-width: 576px + 0.1) {
        margin: 0 0 33px;
        // font-size: 30px; // 1,875rem = 30px : 16px
        font-size: 1.875rem;
        position: relative;
        top: 2px;
    }
    @media (max-width: 576px) {
      position: relative;
      bottom: 0.3vw;
      right: 0.3vw;
      margin: 0 auto;
      max-width: 57vw;
      letter-spacing: 0.038em;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;    

    @media (max-width: 576px) {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1.7vw;
    }
  
    .btn:first-of-type {
      @media (min-width: 768px + 0.1) {
        margin-right: 20px;
      }
      @media (max-width: 768px) and (min-width: 576px + 0.1) {
        margin-right: 2.7vw;
      }
      @media (max-width: 576px) {
        margin-right: 3.5vw;
      }
    }

    .btn {
      @media (max-width: 992px) and (min-width: 768px + 0.1) {
        font-size: 1rem;
      }

      @media (max-width: 576px)  {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 29.5vw;
        height: 40px;
        padding: 0;
        letter-spacing: 0.1em;
      }
    }
  }

}